files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
	  MIID/jCCAuYCCQDgrSubgVo85jANBgkqhkiG9w0BAQsFADCBwDELMAkGA1UEBhMC
	  REUxDzANBgNVBAgMBkJheWVybjEPMA0GA1UEBwwGTXVuaWNoMRMwEQYDVQQKDApG
	  b29kbyBJbmMuMQswCQYDVQQLDAJJVDFGMEQGA1UEAww9Zm9vZG9iYWNrZW5kLWVu
	  di54bmlycHhkemRyLmV1LWNlbnRyYWwtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTEl
	  MCMGCSqGSIb3DQEJARYWYW5kcmUud2VpbmtvZXR6QHR1bS5kZTAeFw0xOTA2MDkx
	  NjMwMjFaFw0yMDA2MDgxNjMwMjFaMIHAMQswCQYDVQQGEwJERTEPMA0GA1UECAwG
	  QmF5ZXJuMQ8wDQYDVQQHDAZNdW5pY2gxEzARBgNVBAoMCkZvb2RvIEluYy4xCzAJ
	  BgNVBAsMAklUMUYwRAYDVQQDDD1mb29kb2JhY2tlbmQtZW52LnhuaXJweGR6ZHIu
	  ZXUtY2VudHJhbC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMSUwIwYJKoZIhvcNAQkB
	  FhZhbmRyZS53ZWlua29ldHpAdHVtLmRlMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
	  MIIBCgKCAQEA1d1oI54DpxJ7hLIVipXpyYubCu3HRWP9fIXwYjr8TxYznCz+sAY5
	  kXb5vXg9C9eyFMTKC87RpyxNSjeqtTg+2fu0YwoaAp0hGNxTHT69wx+WPRJZUiDO
	  s6F9NrU3Gj0/8asFvEGTmrknYPZ3Kcpe67r32x67wWlMD98EIsMNvZNTFDjHGYGn
	  EkmrA73e0un5v+9go0h0YMT9ZXgNkei80+OIVkiMFaK5g178YxyvsybN6+es7DW9
	  oCYa5E3XH1ujKH8wgM6U0r3X479AiNxJRPBigmTtUhSdoTiUR5flj0buHtWB7vXV
	  fMz4lnphRXEdHuZ/pJr5zFvh2LdaSbS+bQIDAQABMA0GCSqGSIb3DQEBCwUAA4IB
	  AQAknO53XEsVoISH9Vibe1Z9uYijd4qEC0y//5sWhG84eoLASxkhPUFvs1haDkL2
	  fgKRqQrmPHX+oMUDSgVTqmAvxCHcg13XYKuB0Q1viV4CTnPeVfHJV0v8COOuGRxq
	  Ea1uMX8Ou4gd5MbobcmaDjPeyDNnePRC+rbv0oqpFQMeLVnj5FzoaKxsypXqhar6
	  t9czf5rHha86opbzB74YyRtZ0UQHYBHrsvNl3Z5T1c7w9XhpFMAxg/4IsD0rc0lm
	  YMZuDGGqSyzTywvUxjbVgDcqSKRSHKw04wBHQ0YNgr84JczkS+2pFIajaz2x2npX
	  jWMuTuouo8J0F+x4exeiA4Y3
	  -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
	  MIIEpAIBAAKCAQEA1d1oI54DpxJ7hLIVipXpyYubCu3HRWP9fIXwYjr8TxYznCz+
	  sAY5kXb5vXg9C9eyFMTKC87RpyxNSjeqtTg+2fu0YwoaAp0hGNxTHT69wx+WPRJZ
	  UiDOs6F9NrU3Gj0/8asFvEGTmrknYPZ3Kcpe67r32x67wWlMD98EIsMNvZNTFDjH
	  GYGnEkmrA73e0un5v+9go0h0YMT9ZXgNkei80+OIVkiMFaK5g178YxyvsybN6+es
	  7DW9oCYa5E3XH1ujKH8wgM6U0r3X479AiNxJRPBigmTtUhSdoTiUR5flj0buHtWB
	  7vXVfMz4lnphRXEdHuZ/pJr5zFvh2LdaSbS+bQIDAQABAoIBAA3HC7Rvs5CJ0kdE
	  KbsZ2UvQoJZdpx7DSEtDXa8WWbbGmWCQTYANhpvmbERWgKhIpwJLgzCrjDoW0ovb
	  djXif7oPSxmuRuqwMLenSftyVUtCt60Lh5GQ54APAUALAJfCJmJtQBtWpimrj+vh
	  NOAOV3scOmd1XWciX3IOTffnVPVHcEMt8QhivQgQ9JnBL0i8I4grk6gETRAycmf1
	  FocCqci1fSmqlLuj7dBSBuWbw5/BawxYBbHCdEUxlYblZV95c/qka0pOM8EUjZUc
	  LJ8S6trb82fiEfFa+CulGWqutBgiRj9gdqpjWDoqiSZ+gAJUVEU1/2Ks9xyWKzil
	  5fP56okCgYEA8U0NfM1W/ZcALF7rLlgV4obngRGwL80JpMha6L5l1ZQA5CrjRZtj
	  jMEOLaPXX5UISRvibjC0VPTYjpN9vS7wQr0G3ayoK9Lpdedvc4xRdxC8okFO/k+A
	  rpR+wZT4qswzzSw0Lm0avlByiwrGehlueEmwwTMZQe5O6urplqLcWnsCgYEA4uSB
	  A9Hw2g/X0yAqyhKSWLCJCTBW1o4u4SOC3A77hLILRjyhpLDHJq4xz2AnxQz0/vII
	  RkOuo/3GaP9DiJr+36AyuAt6z2TzJSDzKsX/urDwjTW31sp++5/evvGsw77t4DYD
	  TzYPzjLbA9uE8PHHyrJjqz3yJeLS41rg426VijcCgYEAmMX1FSAYxIOW+4C5G+Vv
	  LbXF2uTtDMafJXIohJUPenKzQcKZlBd2psYQCPtjv8NmtIrwCF3TvroqZdKh2GZg
	  fZCaST0oWF63qwt1d83OQjkZhQ0eS0rgqSehPUTpT5Hr9inXe9FeDkJ20utmkCWL
	  2KKnQxrsEd8knf1PGS1RoAMCgYAeLcCPToRXrNXLKjMmz5ORomGHzFswjJblsUB9
	  nqyLuNbRD818R1sl5PORHrwLdK69nlnFZsk63M1gN9u2ts8B1aAJZNV/8nB41soh
	  PVbHcTN9xNBgDG0ZcOlCwoh1PNcNBIIqLgmqJo+FEtS6653kcxfYthOYQHRGc1cI
	  STQwvwKBgQCgaFB4fP55e6RrsnpJyJt5s3dEU9p8x6heNIPS9zbvjI4a8GY3qO7+
	  7+l+wK5IKgOiax8GfSldPLRNbA+5ohsfpDcCOgBbLtutfnJaJJzGKqIIY7XML2TP
	  PDBtE9UwXq7bWtKsHIO+1sG7U6pa4girYYlZ94XkdwNSqscMLWyf7w==
      -----END RSA PRIVATE KEY-----